@page "/about"
@inject IStringLocalizer<BlazorAppPCInfo.About> Localizer
@inject IStringLocalizer<Resources> LocResources

<PageTitle>About</PageTitle>

<div class="about-container">
    <section class="team-section">
        <h2>@Localizer["aboutUs"]</h2>
        <p>
            @Localizer["textAboutUs"]
        </p>
    </section>

    <section class="team-section">
        <h2>@Localizer["aboutTeam"]</h2>
        <p>
            @Localizer["textAboutTeam"]
        </p>
    </section>

    <section class="mission-section">
        <h2>@Localizer["aboutMission"]</h2>
        <p>
            @Localizer["textAboutMission"]
        </p>
    </section>
</div>