@page "/computer/{id:int}"

@inject IStringLocalizer<BlazorAppPCInfo.ComputerDetails> Localizer
@inject IStringLocalizer<Resources> LocResources

@code {
    [Parameter] public int Id { get; set; }
    private Computer? computer;

    protected override async Task OnInitializedAsync()
    {
        // Realiza una solicitud a la API para obtener los detalles del ordenador por su Id.
        computer = await APIService.GetComputer(Id);
    }
}

@if (computer != null)
{
    <div class="computer-details">
        <h2>@computer.Name</h2>
        <img src="@computer.ImageUrl" alt="Imagen de @computer.Name" class="computer-image mb-3"/>

        <ul class="list-group">
            <li class="list-group-item">
                <strong>@LocResources["processor"]:</strong> @computer.Processor
            </li>
            <li class="list-group-item">
                <strong>@LocResources["ram"]:</strong> @computer.RAM GB
            </li>
            <li class="list-group-item">
                <strong>@LocResources["memory"]:</strong> @computer.Storage GB
            </li>
            <li class="list-group-item">
                <strong>@LocResources["price"]:</strong> $@computer.Price
            </li>
        </ul>
    </div>
}
else
{
    <p>@Localizer["loadingPC"]</p>
}

