@page "/computers"
@using System.Net.Http;
@inject HttpClient Http



<h3>Listado de Ordenadores</h3>

<div class="computers-container">
    @foreach (var computer in computers)
    {
        <a href="/computer/@computer.Id" class="computer-card">
            <div class="image-wrapper">
                <img src="@computer.ImageUrl" alt="Imagen de @computer.Name" class="computer-image"/>
            </div>
            <h4>@computer.Name</h4>
            <ul>
                <li><i class="bi bi-cpu"></i> Procesador: @computer.Processor</li>
                <li><i class="bi bi-memory"></i> Memoria RAM: @computer.RAM</li>
                <li><i class="bi bi-hdd"></i> Almacenamiento: @computer.Storage</li>
                <li><i class="bi bi-currency-dollar"></i> Precio: $@computer.Price</li>
            </ul>
        </a>
    }
</div>

@code {
    
    public class Computer
    {
        public int Id { get; set; }
        public string Name { get; set; }
        public string Processor { get; set; }
        public string RAM { get; set; }
        public int Storage { get; set; }
        public double Price { get; set; }
        public string ImageUrl { get; set; }
    }

    private List<Computer> computers = new List<Computer>();

    protected override async Task OnInitializedAsync()
    {
        computers = await Http.GetFromJsonAsync<List<Computer>>("https://apipcdata-bmbuf7bagcepajd3.canadaeast-01.azurewebsites.net/api/computers");
    }
}
